In [2]:
import numpy as np
import pandas as pd

In [23]:
path = 'C:/Users/mphan/Documents/Behavioral Finance/hmwk1/'

# Jan 1963 - Dec 2017
aqr_ff_data = pd.read_csv(path + 'aqr_ff_data.csv')
aqr_ff_data['date'] = pd.to_datetime(aqr_ff_data['date'], format="%Y%m")

# 1955 - 2014
kent_data = pd.read_csv(path + 'bf_hw1.csv')
kent_data['date'] = pd.to_datetime(kent_data['date'], format="%m-%d-%Y")
# Converting to percent since the aqr data is in percent
kent_data[['isu', 'acr', 'ivol1m']] = kent_data[['isu', 'acr', 'ivol1m']]*100

In [29]:
combined = pd.merge(aqr_ff_data, kent_data, how='outer')
combined.columns = map(str.upper, combined.columns)
combined.sort_values(by=['DATE'], inplace=True)

In [30]:
combined.head()

,DATE,MKT-RF,SMB,HML,RMW,CMA,MOM,STR,BAB,QMJ,RF,ISU,ACR,IVOL1M
654,1955-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.744056,3.622477,6.539146
655,1955-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.148920,-1.764342,-1.066654
656,1955-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.086056,0.362991,4.214729
657,1955-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.588581,-0.476220,1.555679
658,1955-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.367149,-1.754872,1.633820

# Question 1

Number of observations

In [50]:
combined.iloc[:, 1:combined.columns.size].count()

MKT-RF    654
SMB       654
HML       654
RMW       654
CMA       654
MOM       654
STR       654
BAB       654
QMJ       654
RF        654
ISU       707
ACR       707
IVOL1M    707
dtype: int64

Annualized factor returns, volatilities, and sharpe ratios

In [61]:
factor_returns = combined.iloc[:, 1:combined.columns.size].agg(['mean'])*12
factor_returns

,MKT-RF,SMB,HML,RMW,CMA,MOM,STR,BAB,QMJ,RF,ISU,ACR,IVOL1M
mean,6.371743,3.005688,4.144587,3.000734,3.441468,7.911009,5.791009,9.539266,4.369541,4.63633,3.89799,1.947849,8.89787

In [56]:
factor_vol = combined.iloc[:, 1:combined.columns.size].agg(['std'])*np.sqrt(12)
factor_vol

,MKT-RF,SMB,HML,RMW,CMA,MOM,STR,BAB,QMJ,RF,ISU,ACR,IVOL1M
std,15.200588,10.477238,9.729386,7.664816,6.94564,14.529008,10.730704,10.962232,8.228669,0.919295,8.165429,5.760879,22.164692

In [60]:
sharpe = factor_returns.iloc[0,]/factor_vol.iloc[0,]
sharpe

MKT-RF    0.419177
SMB       0.286878
HML       0.425987
RMW       0.391495
CMA       0.495486
MOM       0.544498
STR       0.539667
BAB       0.870194
QMJ       0.531014
RF        5.043352
ISU       0.477377
ACR       0.338117
IVOL1M    0.401443
dtype: float64

# Question 2

In [67]:
factor_corr = combined.corr(method='pearson')
factor_corr

,MKT-RF,SMB,HML,RMW,CMA,MOM,STR,BAB,QMJ,RF,ISU,ACR,IVOL1M
MKT-RF,1.000000,0.273734,-0.258937,-0.232352,-0.383175,-0.132408,0.282365,-0.085063,-0.524648,-0.084408,0.472874,-0.000292,-0.501423
SMB,0.273734,1.000000,-0.068692,-0.349837,-0.100964,-0.028809,0.158468,-0.020474,-0.514492,-0.043436,0.156561,0.158716,-0.667716
HML,-0.258937,-0.068692,1.000000,0.065707,0.696096,-0.183351,0.002098,0.319836,-0.021364,0.073936,-0.550018,-0.153199,0.317864
RMW,-0.232352,-0.349837,0.065707,1.000000,-0.032732,0.111800,-0.089537,0.282811,0.739996,0.002009,-0.092415,-0.324595,0.606138
CMA,-0.383175,-0.100964,0.696096,-0.032732,1.000000,-0.021120,-0.119658,0.313925,0.088641,0.069021,-0.628201,-0.057307,0.366229
MOM,-0.132408,-0.028809,-0.183351,0.111800,-0.021120,1.000000,-0.288706,0.179076,0.249623,0.064349,0.058403,0.130620,0.193672
STR,0.282365,0.158468,0.002098,-0.089537,-0.119658,-0.288706,1.000000,-0.057010,-0.248608,0.033714,0.141484,-0.050521,-0.204246
BAB,-0.085063,-0.020474,0.319836,0.282811,0.313925,0.179076,-0.057010,1.000000,0.203389,0.002031,-0.207414,-0.126594,0.358085
QMJ,-0.524648,-0.514492,-0.021364,0.739996,0.088641,0.249623,-0.248608,0.203389,1.000000,0.045346,-0.270510,-0.206491,0.762861
RF,-0.084408,-0.043436,0.073936,0.002009,0.069021,0.064349,0.033714,0.002031,0.045346,1.000000,-0.066411,0.052340,0.107295
ISU,0.472874,0.156561,-0.550018,-0.092415,-0.628201,0.058403,0.141484,-0.207414,-0.270510,-0.066411,1.000000,0.030666,-0.364099
ACR,-0.000292,0.158716,-0.153199,-0.324595,-0.057307,0.130620,-0.050521,-0.126594,-0.206491,0.052340,0.030666,1.000000,-0.254926
IVOL1M,-0.501423,-0.667716,0.317864,0.606138,0.366229,0.193672,-0.204246,0.358085,0.762861,0.107295,-0.364099,-0.254926,1.000000

In [78]:
# This is the correlation between IVOL and SMB
factor_corr.unstack().min()

0.76286078223941434

In [79]:
# This is the correlation between QMJ and IVOL1M
factor_corr[factor_corr!=1].unstack().max()

0.76286078223941434

In [81]:
factor_corr[factor_corr==factor_corr[factor_corr!=1].unstack().max()]

,MKT-RF,SMB,HML,RMW,CMA,MOM,STR,BAB,QMJ,RF,ISU,ACR,IVOL1M
MKT-RF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HML,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RMW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CMA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BAB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QMJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.762861
RF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ISU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IVOL1M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.762861,NaN,NaN,NaN,NaN